<a href="https://colab.research.google.com/github/dipan95/HackerRank/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

#Considering a dataframe with 12 rows to Just Understanding the case

In [61]:
data = {'AGE':  ['', '','','','','','','','','','',''],
        'SEX': ['', '','','','','','','','','','',''],
        'GI illness':  ['Y', 'Y','N','N','Y','Y','N','Y','Y','Y','U','Y'],
        'INCUBATION':  ['', '','','','','','','','','','',''],
        'LENGTH OF':  ['', '','','','','','','','','','',''],
        'SALAD':  ['Y', 'Y','N','Y','Y','Y','Y','Y','N','Y','N','Y'],
        'RIGATONI':  ['Y', 'Y','Y','Y','Y','N','N','N','Y','Y','U','Y'],
        'ROAST BEEF':  ['Y','Y','N','Y','Y','Y','Y','N','Y','Y','Y','Y'],
        'CHICKEN':  ['Y','Y','Y','Y','Y','Y','N','N','Y','Y','U','Y'],
        'POTATOES':  ['Y','Y','N','Y','Y','Y','Y','Y','N','Y','U','Y'],
        'GREEN BEANS':  ['Y', 'Y','Y','Y','Y','Y','Y','Y','Y','Y','U','Y'],
        'CAKE':  ['Y','Y','Y','Y','Y','Y','Y','Y','Y','Y','U','Y'],
        'COFFEE':  ['Y', 'N','Y','Y','Y','Y','Y','N','Y','Y','U','Y'],
        'WATER':  ['Y', 'N','N','N','N','Y','N','N','N','Y','U','Y'],
        'SODA':  ['Y', 'Y','N','N','N','N','N','Y','Y','Y','U','Y']
         }

df = pd.DataFrame (data, columns = ['AGE','SEX','GI illness','INCUBATION',
                                    'LENGTH OF','SALAD','RIGATONI','ROAST BEEF','CHICKEN','POTATOES',
                                    'GREEN BEANS','CAKE','COFFEE','WATER','SODA'])

df.head(13)

   AGE SEX GI illness INCUBATION LENGTH OF  ... GREEN BEANS CAKE COFFEE WATER SODA
0                   Y                       ...           Y    Y      Y     Y    Y
1                   Y                       ...           Y    Y      N     N    Y
2                   N                       ...           Y    Y      Y     N    N
3                   N                       ...           Y    Y      Y     N    N
4                   Y                       ...           Y    Y      Y     N    N
5                   Y                       ...           Y    Y      Y     Y    N
6                   N                       ...           Y    Y      Y     N    N
7                   Y                       ...           Y    Y      N     N    Y
8                   Y                       ...           Y    Y      Y     N    Y
9                   Y                       ...           Y    Y      Y     Y    Y
10                  U                       ...           U    U      U     U    U
11                  Y                       ...           Y    Y      Y     Y    Y

[12 rows x 15 columns]

In [62]:
# we dont need AGE, SEX,INCUBATION, LENGTH OF so we select only required columns from dataframe

df_res = pd.DataFrame(df, columns = ['GI illness','SALAD','RIGATONI','ROAST BEEF','CHICKEN','POTATOES',
                                    'GREEN BEANS','CAKE','COFFEE','WATER','SODA'])

df_res.head()

  GI illness SALAD RIGATONI ROAST BEEF  ... CAKE COFFEE WATER SODA
0          Y     Y        Y          Y  ...    Y      Y     Y    Y
1          Y     Y        Y          Y  ...    Y      N     N    Y
2          N     N        Y          N  ...    Y      Y     N    N
3          N     Y        Y          Y  ...    Y      Y     N    N
4          Y     Y        Y          Y  ...    Y      Y     N    N

[5 rows x 11 columns]

In [75]:
#We are to find out the guests who consumed each food and drinks item at the picnic

df_eachfood=df_res.loc[(df['SALAD']=='Y') &  (df['RIGATONI']=='Y') &  (df['ROAST BEEF']=='Y')
               & (df['CHICKEN']=='Y') & (df['POTATOES']=='Y')& (df['GREEN BEANS']=='Y')&
               (df['CAKE']=='Y') & (df['COFFEE']=='Y') & (df['WATER']=='Y') & (df['SODA']=='Y')]
df_eachfood.head()

   GI illness SALAD RIGATONI ROAST BEEF  ... CAKE COFFEE WATER SODA
0           Y     Y        Y          Y  ...    Y      Y     Y    Y
9           Y     Y        Y          Y  ...    Y      Y     Y    Y
11          Y     Y        Y          Y  ...    Y      Y     Y    Y

[3 rows x 11 columns]

In [85]:
number_of_ill_each = df_eachfood['GI illness'][df_eachfood['GI illness']=='Y'].count()
total_numbereach= df_eachfood.shape[0]

In [86]:
print(number_of_ill_each)
print(total_numbereach)

3
3

In [88]:
Attack_Rate_EachFood= number_of_ill_each/total_numbereach

In [89]:
print(Attack_Rate_EachFood)

1.0

In [64]:
#We are to find out the guests who didn't consumed each food and drinks item at the picnic
df_noteach=df_res.drop(df_eachfood.index,axis=0)

In [65]:
df_noteach #This dataframe contains the guests who didn't consumed each food and drinks item at the picnic

   GI illness SALAD RIGATONI ROAST BEEF  ... CAKE COFFEE WATER SODA
1           Y     Y        Y          Y  ...    Y      N     N    Y
2           N     N        Y          N  ...    Y      Y     N    N
3           N     Y        Y          Y  ...    Y      Y     N    N
4           Y     Y        Y          Y  ...    Y      Y     N    N
5           Y     Y        N          Y  ...    Y      Y     Y    N
6           N     Y        N          Y  ...    Y      Y     N    N
7           Y     Y        N          N  ...    Y      N     N    Y
8           Y     N        Y          Y  ...    Y      Y     N    Y
10          U     N        U          Y  ...    U      U     U    U

[9 rows x 11 columns]

In [87]:
number_of_ill_noteach = df_noteach['GI illness'][df_noteach['GI illness']=='Y'].count()
total_numbernoteach= df_noteach.shape[0]

In [90]:
Attack_Rate_NotEachFood= number_of_ill_noteach/total_numbernoteach

In [91]:
print(Attack_Rate_NotEachFood)

0.5555555555555556

In [ ]:
if